*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login{
    background-color: #52761a8c;
}
.login form{
    width: 33.33%;
    margin: auto;
    min-height: 100vh;
    padding-top: 20vh;
    padding-bottom: 30vh;
}
form input{
    width: 100%;
    height: 44px;
    margin: 0 0 32px;
    padding: 0 8px;
    outline: none;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn button{
    height: 44px;
    width: 100px;
    background-color: greenyellow;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
}